.clue-input {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	top: 15vh;
	margin: 5px;
}

.chat {
	min-height: 50px;
	min-width: 90%;
	background-color: #b4f4ec;
	border-radius: 7px;
	padding: 10px;
	margin: 10px;
}

label {
	margin: 5px;
}
input {
	margin: 5px;
}
