h1 {
	font-family: 'Paytone One';
	font-size: 55pt;
	color: tomato;
	letter-spacing: -8px;
	text-shadow: 0px -10px peachpuff;
}

span {
	color: turquoise;
	text-shadow: 0px -10px darkcyan;
}

.hamburger {
	display: inline-block;
	cursor: pointer;
	background-color: turquoise;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	border-radius: 5px;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
